* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	color: #333;
}

.container {
	border-radius: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	margin-bottom: 20px;
	color: #444;
}

.input-container {
	/* display: flex;
	flex-direction: column;
	gap: 10px; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	padding: 20px;
	/* background-color: red; */
	min-width: 30%;
}

input[type="text"],
input[type="url"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

button {
	padding: 10px;
	margin-top: 15px;
	background-color: #4e4e1e;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #444;
}
.movie__container {
	margin: auto 10px;
	width: 70%;
}

/* Container for the movie cards */
#movieCards {
	margin-top: 14px;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	/* background-color: #fff; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.movie-card {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 0.4rem;
	text-align: center;
	transition: transform 0.3s ease;
	text-align: left;
	background-color: #fff;
	margin: 10px;
}

.movie-card img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}

.movie-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.movie-card h2 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 1.1em;
	color: #333;
}

/***/
#title__error {
	display: none;
}
#url__error {
	display: none;
}
.input_error {
	text-align: left;
	color: red;
}
